__pycache__/
venv/
build/
dist/
htmlcov/
node_modules/
*.py[cod]
*.egg-info
.coverage
.vscode

# Epub files for tests:
books/

# Test artifacts:
test/
web/upload/
content.opf
example/Frankenstein 2.epub
test.epub
